
nav{
    margin-left: 60px;
    margin-right: 60px;
    font-family: "DM Sans", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-ul{
    display: flex;
    gap: 45px;
}
.nav-ul li{
  list-style: none;
  
}
.nav-ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
}
.nav-btn{
    display: flex;
    gap: 20px;
}
.btn-1{
    background-color: #3D00B7;
    color: white;
    padding: 10px 27px;
    border-radius: 32px;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.btn-2{
    color: #3D00B7;
    padding: 10px 27px;
    border-radius: 32px;
    border: 1px solid #3D00B7;
    font-size: 14px;
    font-weight: bold;
}

.search-bar{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar input{
    padding: 10px 27px;
    border: 1px solid #565656;
    border-radius: 25px;
}
.search-input{
   position: absolute;
   right: 1rem;
   display: grid;
   place-items: center;

}
.header-container{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 69px;
    display: flex;
    justify-content: space-between;
}
.header-text h1{
    font-size: 40px;
    font-weight: 500;
    max-width: 555px;
    font-family: "Josefin Sans", sans-serif;
}
.header-text h2{
    font-size: 20px;
    font-weight: 400;
    color: #565656;
    max-width: 455px;
    font-family: "DM Sans", sans-serif;
}
.explore-btn{
    margin-top: 40px;
    margin-bottom: 30px;
}
.explore-btn button{
    background-color: #3D00B7;
    color: white;
    padding: 10px 27px;
    border-radius: 32px;
    border: none;
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;

}
.number{
    display: flex;
    gap: 23px;
}
.number h5{
    margin-top: -19px;
    font-size: 15px;
    color: #565656;
    font-weight: 400;
}
.header-images{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-group{
    position: absolute;
   right: 1rem;
   left: 1rem;
   bottom: 1.5rem;
   display: grid;
   place-items: center;
}
.img-group-83{
    position: absolute;
    bottom: 7rem;
    left: -4rem;
    display: grid;
    place-items: center;
}
.header-h3{
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    display: grid;
    place-items: center;
    color: white;
    font-size: 28px;
    font-weight: bold;
}
.img-group-76{
    position: absolute;
    left: 1rem;
    top: 6rem;
    display: grid;
    place-items: center;
}
#img-fluid{
    max-width: 100%;
    height: auto;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}

.menu-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 50px;
    margin-left: 0px;
    margin-right: 60px;
    margin-top: 122px;
    padding: 60px;
}
.card-1-container{
    display: flex;
    gap: 10px;
}
.card-2-container{
    display: flex;
    gap: 10px;
}
.cards-text h1{
    font-family: "Josefin Sans", sans-serif;
    font-size: 28px;
    font-weight: bold;
}
.menu-cards h2{
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.menu-cards h3{
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.card-1{
    margin-top: 10px;
}
.card-2{
    margin-top: 10px;
}

.card-1-text h3{
    max-width: 355px;
    color: #696969;
}
.card-2-text h3{
    max-width: 355px;
    color: #696969;
}



.pics-group{
    margin-left: 70px;
    margin-top: 134px;
    display: flex;
    gap: 67px;
}
.group-container-3-text h2{
    font-size: 20px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    margin-top: 0px;
}
.group-container-3-text h3{
    font-size: 18px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
    margin-top: -15px;
    color: #3D00B7;
}
.group-container-1 img{
   margin-bottom: 15px;
}
.group-container-2 img{
    margin-bottom: 15px;
}
.group-container-3 img{
    margin-top: 19px;
    margin-bottom: 0px;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
 .pics-group-2{
    display: flex;
    gap: 40px;
 }
.text{
    font-size: 28px;
    font-weight: bold;
    font-family:"DM Sans", sans-serif ;
    margin-left: 100px;
    margin-right: 100px;
    display: block;
}
.img-group-container-3{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}
.group-103-container{
   
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 52px;
    column-gap: 64px;
}
#group-105{
    position: absolute;
    right: 3rem;
    top: 17rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
#group-106{
    position: absolute;
    right: 2rem;
    top: 37rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.group-103-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
#group-107{
    position: absolute;
    left: 40rem;
    top: 24rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.group-106{
    display: grid;
    justify-self: center;
}
.group-107{
    display: flex;
    align-items: center;
}
.group-103-text{
    display: flex;
    align-items: center;
}

.group-text-103 h1{
    font-size: 32px;
    font-weight: bold;
    font-family:"Josefin Sans", sans-serif ;
    max-width: 220px;
}
.group-text-103 h2{
    font-size: 18px;
    font-weight: 400;
    font-family:"Josefin Sans", sans-serif ;
    color: #636363;
    line-height: 150%;
    letter-spacing: .75px;
}
.group-text-103 button{
    background-color: #3D00B7;
    color: white;
    padding: 10px 27px;
    border-radius: 32px;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

@media (min-width: 320px){
    .pics-group{
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 134px;
        display: flex;
        flex-direction: column;

    }
    .text{
        margin-left: 40px;
        margin-right: 40px;
    }
    .pics-group-2{
        display: grid;
        flex-direction: column;
    }
    .img-group-container-3{
        margin-left: 30px;
        margin-right: 30px;
        grid-template-columns: 1fr;
    }
    .group-103-container{
        display: none;
    }
    .group-107{
        display: none;
    }
    .group-103-text{
        width: 100%;
    }
    .group-text-103{
        width: 100%;
    }
    .group-text-103 h1{
        font-size: 22px;
        font-weight: bold;
        font-family:"Josefin Sans", sans-serif ;
        max-width: 150px;
    }
    .group-text-103 h2{
        font-size: 14px;
        font-weight: 400;
        font-family:"Josefin Sans", sans-serif ;
        color: #636363;
        line-height: 150%;
        letter-spacing: .75px;
    }
    .group-text-103 button{
        background-color: #3D00B7;
        color: white;
        padding: 10px 27px;
        border-radius: 32px;
        border: none;
        font-size: 16px;
        font-weight: 400;
    }


}
@media (min-width: 576px){
    .pics-group{
        margin-left: 80px;
        margin-top: 134px;
        display: flex;
        flex-direction: column;
    }
    .text{
        margin-left: 40px;
        margin-right: 40px;
    }
    .pics-group-2{
        display: grid;
        flex-direction: column;
    }
    .img-group-container-3{
        margin-left: 40px;
        margin-right: 40px;
        grid-template-columns: 1fr;
    }
    .group-103-container{
        display: none;
    }
    .group-107{
        display: none;
    }
   
    .group-text-103 h1{
        font-size: 28px;
        font-weight: bold;
        font-family:"Josefin Sans", sans-serif ;
        max-width: none;
    }
    .group-text-103 h2{
        font-size: 14px;
        font-weight: 400;
        font-family:"Josefin Sans", sans-serif ;
        color: #636363;
        line-height: 150%;
        letter-spacing: .75px;
    }
    .group-text-103 button{
        background-color: #3D00B7;
        color: white;
        padding: 10px 27px;
        border-radius: 32px;
        border: none;
        font-size: 18px;
        font-weight: 400;
    }

}
@media (min-width: 768px){
    .pics-group{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 134px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .group-container-1 img{
         margin-bottom: 20px;
    }
    .group-container-2 img{
        margin-bottom: 1px;
    }
    .group-container-3{
       width: 100%;
       margin-left: 230px;
    }
    .text{
        margin-left: 40px;
        margin-right: 40px;
    }
    .pics-group-2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }
    .group-102{
        display: none;
    }
    .img-group-container-3{
        margin-left: 20px;
        margin-right: 20px;
        grid-template-columns: 1fr;
    }
    .group-103-container{
        display: none;
    }
    .group-107{
        display: none;
    }
   
    .group-text-103 h1{
        font-size: 28px;
        font-weight: bold;
        font-family:"Josefin Sans", sans-serif ;
        max-width: none;
    }
    .group-text-103 h2{
        font-size: 14px;
        font-weight: 400;
        font-family:"Josefin Sans", sans-serif ;
        color: #636363;
        line-height: 150%;
        letter-spacing: .75px;
        max-width: 550px;
    }
    .group-text-103 button{
        background-color: #3D00B7;
        color: white;
        padding: 10px 27px;
        border-radius: 32px;
        border: none;
        font-size: 18px;
        font-weight: 400;
    }

}
@media (min-width: 992px){
    .pics-group{
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 134px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

    }
    .group-container-1 img{
        display: block;
        margin-bottom: 70px;
    }
    .group-container-2 img{
        display: block;
        margin-bottom: 20px;
    }
    .group-container-3 img{
        display: block;
        margin-bottom: 25px;
    }
    .group-container-3{
        margin-left: 0px;
    } 
    .text{
        margin-left: 60px;
        margin-right: 60px;
    }
    .pics-group-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .group-102{
        display: flex;
    }
    .img-group-container-3{
        margin-left: 80px;
        margin-right: 80px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .group-103-container{
       
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 52px;
        column-gap: 64px;
    }
    #group-105{
        position: absolute;
        right: 0rem;
        top: 17rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    #group-106{
        position: absolute;
        right: 0rem;
        top: 37rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    .group-103-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #group-107{
        position: absolute;
        left: 35rem;
        top: 158rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    .group-106{
        display: grid;
        justify-self: center;
    }
    .group-107{
        display: flex;
        align-items: center;
    }
    .group-103-text{
        display: flex;
        align-items: center;
    }
    
    .group-text-103 h1{
        font-size: 32px;
        font-weight: bold;
        font-family:"Josefin Sans", sans-serif ;
        max-width: 220px;
    }
    .group-text-103 h2{
        font-size: 18px;
        font-weight: 400;
        font-family:"Josefin Sans", sans-serif ;
        color: #636363;
        line-height: 150%;
        letter-spacing: .75px;
    }
    .group-text-103 button{
        background-color: #3D00B7;
        color: white;
        padding: 10px 27px;
        border-radius: 32px;
        border: none;
        font-size: 20px;
        font-weight: 400;
    }


}
@media (min-width: 1200px){
    .pics-group{
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 134px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        gap: 67px;
    }
    .group-container-3-text h2{
        font-size: 20px;
        font-weight: bold;
        font-family: "DM Sans", sans-serif;
        margin-top: 0px;
    }
    .group-container-3-text h3{
        font-size: 18px;
        font-weight: bold;
        font-family: "DM Sans", sans-serif;
        margin-top: -15px;
        color: #3D00B7;
    }
    .group-container-1 img{
       margin-bottom: 75px;
    }
    .group-container-2 img{
        margin-bottom: 15px;
    }
    .group-container-3 img{
        margin-top: 23px;
        margin-bottom: 0px;
    }
    .text{
        margin-left: 100px;
        margin-right: 100px;
    }
    .pics-group-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .group-102{
        display: flex;
    }
    .img-group-container-3{
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 102px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
    .group-103-container{
       
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 52px;
        column-gap: 64px;
    }
    #group-105{
        position: absolute;
        right: 4rem;
        top: 17rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    #group-106{
        position: absolute;
        right: 3rem;
        top: 37rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    .group-103-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #group-107{
        position: absolute;
        left: 39rem;
        top: 169rem;
        display: grid;
        place-items: center;
        border-radius: 50%;
    }
    .group-106{
        display: grid;
        justify-self: center;
    }
    .group-107{
        display: flex;
        align-items: center;
    }
    .group-103-text{
        display: flex;
        align-items: center;
    }
    
    .group-text-103 h1{
        font-size: 32px;
        font-weight: bold;
        font-family:"Josefin Sans", sans-serif ;
        max-width: 220px;
    }
    .group-text-103 h2{
        font-size: 18px;
        font-weight: 400;
        font-family:"Josefin Sans", sans-serif ;
        color: #636363;
        line-height: 150%;
        letter-spacing: .75px;
    }
    .group-text-103 button{
        background-color: #3D00B7;
        color: white;
        padding: 10px 27px;
        border-radius: 32px;
        border: none;
        font-size: 20px;
        font-weight: 400;
    }
    
}

